<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    ul {
      list-style-type: none;
      padding: 0;
    }

    .checked {
      text-decoration: line-through;
    }

    .movie-item {
      text-align: center;
      margin-bottom: 20px;
    }

    .movie-item img {
      width: 200px;
      height: 300px;
      object-fit: cover;
    }

    .card {
      width: 200px;
      border: none;
    }

    .card-title {
      font-size: 1rem;
      height: 25px;
    }


  </style>
  <title>My Movies</title>
</head>

<body>
  <header>
    <div class="container-fluid px-0">
      <nav class="navbar navbar-expand-lg shadow-sm navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="sessions/new">
            <img src="/images/logo.png" alt="Logo" width="100" height="40" class="d-inline-block align-text-top">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a href="../profile" class="text-decoration-none">My profile</a>
          <a href="../movies" class="new-post-link text-decoration-none ps-4" href="/posts/new">Films</a>
          <a class="new-post-link text-decoration-none ps-4" href="/posts/new">Shows</a>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
              <form action='/sessions?_method=DELETE' method='POST'>
                <input id="logout_button" type="submit" value="Log Out">
              </form>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <h1 class="text-center py-4">My Watch List</h1>
      <ul>
        <div id="movie-latest-popular-container" class="col-md-12 d-flex flex-wrap justify-content-start">
          {{#each watch_list}}
          <li>
            <div class="movie-item col-md-auto">
              <div class="card mx-4">
                <a href="/movies/{{id}}">    {{#if poster_path}}
                <img src="https://image.tmdb.org/t/p/original/{{poster_path}}" alt="{{title}}"
                  class="card-img-top">
                {{else}}
                <img src="https://res.cloudinary.com/acebook-poke/image/upload/v1688999260/No_Image_Available_jvbpqq.jpg"
                  alt="{{title}}" class="card-img-top">
                {{/if}}</a>
                <div class="card-body p-2">
                  <h5 class="card-title">{{title}}</h5>
                  <form class="remove-form" action="/profile/remove" method="POST">
                    <input type="hidden" name="title" value="{{title}}">
                    <button type="submit" class="btn btn-primary mt-2 btn-sm">Remove</button>
                  </form>
                </div>
              </div>
            </div>
          </li>
          {{/each}}
        </div>
      </ul>
    </div>

    <div class="row">
      <div class="d-flex justify-content-center">
        <a class="text-center btn btn-primary mb-2" href="../movies" role="button">Add more to watchlist</a>
      </div>
    </div>
  </div>
</body>

</html>