<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Movies</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .search-input {
      flex: 1;
      padding: 8px;
    }

    .search-button {
      padding: 8px 12px;
    }

    .movie-item {
      text-align: center;
      margin-bottom: 20px;
    }

    .movie-item img {
      width: 200px;
      height: 300px;
      object-fit: cover;
    }

    .card {
      width: 200px;
      border: none;
    }

    .card-title {
      font-size: 1rem;
      height: 25px;
    }

    .sticky-container {
      position: sticky;
      top: 35%;
      transform: translateY(-50%);
    }

    .btn-custom {
      font-size: 0.75rem;
    }
  </style>
</head>

<body>

  <header>
    <div class="container-fluid px-0">
      <nav class="navbar navbar-expand-lg shadow-sm navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="sessions/new">

          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a href="../profile" class="text-decoration-none">My profile</a>
          <a class="new-post-link text-decoration-none ps-4" href="/movies">Films</a>
          <a class="new-post-link text-decoration-none ps-4" href="/posts/new">Shows</a>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
              <form action='/sessions?_method=DELETE' method='POST'>
                <input id="logout_button" type="submit" value="Log Out">
              </form>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <div class="container-fluid">

    <div class="row">

      <!-- Search by title -->
      <div class="col-2 ">
        <div class="sticky-container">
          <form action="/movies/search" method="post">
            <div class="search-container border rounded p-4">
              <div class="form-group">
                <label for="search-input-title">Name</label>
                <input type="search" class="form-control" id="search-input-title" name="title"
                  aria-describedby="search box" placeholder="Title">
              </div>
              <div class="form-group">
                <label for="search-input-genre">Genre</label>
                <select class="form-control" id="search-input-genre" name="genre">
                  <option value="">Select Genre</option>

                  <option value="Action">Action</option>
                  <option value="Adventure">Adventure</option>
                  <option value="Animation">Animation</option>
                  <option value="Comedy">Comedy</option>
                  <option value="Crime">Crime</option>
                  <option value="Documentary">Documentary</option>
                  <option value="Drama">Drama</option>
                  <option value="Family">Family</option>
                  <option value="Fantasy">Fantasy</option>
                  <option value="History">History</option>
                  <option value="Horror">Horror</option>
                  <option value="Music">Music</option>
                  <option value="Mystery">Mystery</option>
                  <option value="Romance">Romance</option>
                  <option value="Science Fiction">Science Fiction</option>
                  <option value="TV Movie">TV Movie</option>
                  <option value="Thriller">Thriller</option>
                  <option value="War">War</option>
                  <option value="Western">Western</option>
                  <!-- Add more genre options as needed -->
                </select>
              </div>


              <label for="search-input-release_date">Release Year</label>
              <input type="number" min="1894" class="form-control" id="search-input-release_date" name="release_date"
                placeholder="Enter year">

              <button type="submit" id="search-button" class="btn btn-primary mt-3">Search</button>
            </div>
          </form>
        </div>
      </div>


      <!-- Popular movies -->
      <div class="col-10">
        <div class="container-fluid mt-5">
          <div class="row">
            <div id="movie-latest-popular-container" class="col-md-12 d-flex flex-wrap justify-content-center">
              {{#each movies}}
              <div class="col-md-auto movie-item">
                <div class="card">
                  <a href="/movies/{{id}}"><img src="https://image.tmdb.org/t/p/original/{{poster_path}}"
                      alt="{{title}}" class="card-img-top"></a>
                  <div class="card-body p-2">
                    <h5 class="card-title ">{{title}}</h5>
                    {{#ifInArray ../watchList id}} <!-- Changed from 'title' to 'id' -->
                    <button class="btn btn-primary btn-custom" disabled>Added to Watch List</button>
                    {{else}}
                    <button class="btn btn-primary add-to-watchlist btn-custom" data-movie-id="{{id}}">Add to Watch
                      List</button> <!-- Changed from 'title' to 'id' -->
                    {{/ifInArray}}
                  </div>
                </div>
              </div>
              {{/each}}

            </div>
          </div>
        </div>
      </div>
      <!-- End of popular movies -->

      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          const addToWatchListButtons = document.querySelectorAll(".add-to-watchlist");

          addToWatchListButtons.forEach(function (button) {
            button.addEventListener("click", function (event) {
              const movieId = event.target.dataset.movieId;

              fetch("/movies/watchlist", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({ movieId: movieId }),
              })
                .then(function (response) {
                  if (response.ok) {
                    event.target.disabled = true;
                    event.target.textContent = "Added to Watch List";
                  } else {
                    console.error("Failed to add movie to watch list");
                  }
                })
                .catch(function (error) {
                  console.error(error);
                });
            });
          });
        });
      </script>
</body>

</html>