<!DOCTYPE html>
<html lang="en">

<style>
  .search-container {
    display: flex;
    align-items: center;
    width: 300px;
    /* Adjust the width as per your preference */
    margin: 0 auto;
    /* Centers the search bar horizontally */
  }

  .search-input {
    flex: 1;
    padding: 8px;
  }

  .search-button {
    padding: 8px 12px;
  }
</style>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Movies</title>
 
  {{!--
  <link rel="stylesheet" href="styles.css"> --}}
</head>

<body>


  <h1 class="text-center">Movies</h1>
  <div id="movie-container"></div>

  <form action="/movies/search" method="post">
    <div class="search-container">
      <input type="search" class="form-control" id="search-input" name="title" placeholder="search">
      <button type="submit" id="search-button" class="btn btn-outline-primary">Search</button>
    </div>


  </form>




  <div id="movies-container"></div>

  <script>
    const API_KEY_T = '{{API_KEY_T}}';
    const searchButton = document.getElementById('search-button');
    searchButton.addEventListener('click', handleSearch);

    function handleSearch() {
      const title = document.getElementById('search-input').value;
      const encodedTitle = encodeURIComponent(title);
      const url = `https://api.themoviedb.org/3/search/movie?api_key=${API_KEY_T}&query=${encodedTitle}`;

      fetch(url)
        .then(response => response.json())
        .then(data => {
          const movies = data.results;
          displayMovies(movies);
        })
        .catch(error => {
          console.error(error);
        });
    }
    function displayMovies(movies) {
      const moviesContainer = document.getElementById('movies-container');
      moviesContainer.innerHTML = ''; // Clear previous search results

    }
  </script>
  <div id="movie-latest-popular-container">
  {{#each movies}}
    <div>
      <img src="https://image.tmdb.org/t/p/original/{{poster_path}}" alt="{{title}}" width="200" height="300">
      <span>{{title}}</span>
    </div>
  {{/each}}
</div>
  
<div id="movies-container">
  
  {{#if movies}}
    <h2>Search Results</h2>
    <ul>
      {{#each movies}}
        <li>{{this.title}}</li>
        <img src="https://image.tmdb.org/t/p/original/{{poster_path}}" alt="{{title}}" width="200" height="300">
      {{/each}}
    </ul>
  {{else}}
    <p>No films found.</p>
  {{/if}}
</div>


</body>

</html>